.curationName{
    color:black;
    margin-top: 10px;
    margin-left:0px;
    margin-bottom: -5px;
    text-align: center;
}
.contentBox{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    justify-content: center;
    align-items: center;
  
}